.tab-content {
    width: 100% - 8px;
    margin-top: 8px;
    padding: 4px;
    background-color: whitesmoke;
    /* justify-content: center; */
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 10px;
}